*{
    margin: 0;
    padding: 0;
 
}


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header #navbar{
    display: flex;
    margin: 16px 120px 0;
    justify-content: space-between;
}
#navbar .menu {
    display: flex;
    font-size: 15px;
    line-height: 150%;
   
    gap: 32px;
    list-style-type: none;
   
}
.menu a{
    text-decoration: none;
    color: #080808;
    font-weight: 500;
}
#navbar .nav-btn{
  padding: 12px 24px;
  background-color: #4c946c;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  
}
.nav-btn:hover{
    background-color: #b3901f;
}
#hero {

    background-image: url("./image/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 34px;
    
}
.hero-content{
    text-align: center;
    padding-top: 90px;
}
.dot-conainer{
 display: inline-flex;
 align-items: center;
 background-color: white;
 padding: 5px 10px;
 gap: 5px;
 border-radius: 44px;
 margin-bottom: 16px;
 font-size: 15px;
 font-weight: 400;
 color: #08883d;

}

 .dot{
    height: 12px;
    width: 12px;
    border-radius: 9px;
    background-color: #1f9650;
    display: inline-block
 }
.font{
    font-weight: bold;
    margin-top: 16px;
    font-size: 32px;
   
 }
 .white-text{
    color: white;
    font-weight: 800;
    
 }
 .green-text{
    color: rgb(28, 126, 28);
    font-weight: 800;
 }
 .learning-designed{
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    margin-top: 16px;
    color: #FFFFFF;
 }
 .long-term{
     font-size: 15px;
    font-weight: 400;
    font-style: normal;
    margin-top: 11px;
    color: #FFFFFF;
 }

 #hero .content-btn{
   display: inline-flex;
   gap: 16px;
   margin-top: 31px;

 }



 .arrow-btn{
    display: inline-flex;
    background-color: #08883d;
    padding: 12px 12px 16px 16px;
    border: none;
    border-radius: 7px;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
 }
.play-btn{
    background: transparent;
    color: white;
    display: inline-flex;
    padding: 12px 12px 16px 16px;
    border: 2px solid white;
    border-radius: 7px;
    align-items: center;
    gap: 10px;
    font-size: 16px;
   
    cursor: pointer;
}

 